<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONTS ONLINE -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--MAIN STYLE-->
    <link href="../css/master.css" rel="stylesheet" type="text/css"/>


    <!-- JavaScripts -->
    <script src="../../js/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>{{title}}</title>
</head>
<body>

<br/>
<br/><br/>
<div class="container">
    <form id="form" name="add_cat" class="form1" action="">
        <fieldset>
            <legend><span style="font-weight: bold">Add Category:</span></legend>
            <label for="email">Category Name</label>
            <input class="form-control" type="text" name="cat_name" id="cat_name" required>
        </fieldset>
    </br>
        <button type="submit" class=" btn-primary" id="add_product">Add product</button>
    </form>
</div>

<div class="container" style="margin-top:2%">
<fieldset>
    <legend>Categories: </legend>

    <table class="table table-bordered table-striped text-center">
        <thead>
        <tr>


            <th class="text-center th-sm" scope="row">Name</th>
            <th class="text-center th-sm" scope="row">Remove</th>
            </tr>
        </thead>
        <tbody>
                {{#each category}}

                <td class="contenteditable">{{this.name}}</td>

            <td>
                <button id="test" type="button" class="button" value={{this._id}} ><i class="fa fa-trash-o"></i> </button>
            </td>
            </tr>
                {{/each}}
        </tbody>
    </table>
</fieldset>
</div>
<script type="text/javascript">
  $(document).on('click', '.button', function (id) {
      var id = $(this).val();
// alert(id)
deleteCategory(id)

  })
</script>


<script type="text/javascript" src="../js/admin/fn.js"></script>


</body>
</html>