

<!--
            1. Categories (image category)
                -banner image(1170*780)
                -3 images above new trend (370*200)
                -new trend(treding fashion) images (270*340) =>men's woman, accessories, shoes, bags
                -popular weekly (treding fashion) => 270*340
                -end of season => 1170*660
                -top sellers sale off top rate => 170*220
                -blog images => 370*220

            2. Clothes category
                -men
                -women,
                -kids

-->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- FONTS ONLINE -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--MAIN STYLE-->
    <link href="../css/master.css" rel="stylesheet" type="text/css" />



    <!-- JavaScripts -->
    <script src="../js/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<title>{{title}}</title>
</head>

<body>
<br/>
<br/>

<div class="container">

    <form class="form-control" action="/upload" enctype="multipart/form-data">
        <fieldset>
            <legend>Add Products:</legend>
        <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" name="name" class="form-control" id="cat_name" >
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" class="form-control" id="category_type">
                <option value="none" selected disabled hidden>
                    Choose a category....
                </option>
                {{#each category}}
                    <option value={{this._id}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" name="price" class="form-control bg-light" id="price" step="any" >
        </div>

        <div class="form-group">
            <label for="discount">Discount(if applicable:)</label>
            <input type="number" name="discount" class="form-control" id="discount"  step="any">
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"  rows="3" id="description"></textarea>
        </div>

        <div class="form-group">
            <label for="imageCover">Choose cover image</label>
            <input type="file" class="form-control" name="imageCover" id="img_cover" accept="image/*" >
        </div>

        <div class="form-group">
            <label for="images">Choose multiple images</label>
            <input type="file" class="form-control" id="images" name="images" multiple accept=".png, .jpg, .jpeg" >
        </div>

        </fieldset>
        <button type="submit" class="form-control btn-primary" id="add_product">Add product</button>
        </form>
</div>

<br/> <br/>
    <div class="container" style="margin-top: 45%">
        <fieldset>
            <legend>
                Products:
            </legend>
            <table class="table table-bordered  table-striped text-center cellspacing='0'">
                <thead>
                <tr>
                    <th class="text-center th-sm">Product Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Summary</th>
                    <th class="text-center">Price $</th>
                    <th class="text-center">Discount(if applicable) $</th>
<!--                    <th class="text-center">Created Date</th>-->
                    <th class="text-center">Remove</th>
                </tr>
                </thead>
                <tbody>
                {{#each product }}
                <tr>

                    <td class="pt-3-half" contenteditable="true">{{this.name}}</td>
                        <td class="pt-3-half" contenteditable="true">{{this.category.name}}</td>
                        <td class="pt-3-half" contenteditable="true">{{this.summary}}</td>
                        <td class="pt-3-half" contenteditable="true">{{this.price}} </td>
                        <td class="pt-3-half" contenteditable="true">{{this.priceDiscount}}</td>
             <td class="contenteditable">
                <button type="button" class="button" value={{this._id}} ><i class="fa fa-trash-o"></i> </button>
             </td>


<!--                    <td>-->
<!--              <span class="table-remove"><button type="button"-->
<!--                                                 class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>-->
<!--                    </td>-->
                </tr>
                {{/each}}
                <!-- This is our clonable table line -->

                </tbody>
            </table>

        </fieldset>
    </div>

<script type="text/javascript">
    $(document).on('click', '.button', function (id) {
        var id = $(this).val();
// alert(id)
        deleteProducts(id);

    })
</script>


<script src="../js/admin/add_product.js"></script>


</body>
</html>
