<h1>Suki</h1>

<!--
            1. Categories (image category)
                -banner image(1170*780)
                -3 images above new trend (370*200)
                -new trend(treding fashion) images (270*340) =>men's woman, accessories, shoes, bags
                -popular weekly (treding fashion) => 270*340
                -end of season => 1170*660
                -top sellers sale off top rate => 170*220
                -blog images => 370*220

            2. Clothes category
                -men
                -women,
                -kids

-->

{{>head}}
</head>
<body>
<label>
    <input type="text" placeholder="choose category name">
    <input type="text" placeholder="choose category name">
</label>


{{>end}}