




<h3>Add category page from admin folder</h3>
<form class="add-category" id="form">
<fieldset>
    <legend>Add Category: </legend>
    <label for="cat_name">Category name:</label>
    <input id="category_name" name="cat_name"  type="text">
    <button type="submit">Add Category</button>
</fieldset>
</form>




