<!--======= Footer =========-->
<footer>
    <div class="container">
        <div class="text-center"> <a href="#."><img src="images/logo.png" alt=""></a><br>
            <img class="margin-t-40" src="images/hammer.png" alt="">
            <p class="intro-small margin-t-40">Multipurpose E-Commerce Theme is suitable for furniture store, fashion shop, accessories, electric shop. We have included multiple layouts for home page to give you best selections in customization.</p>
        </div>

        <!--  Footer Links -->
        <div class="footer-link row">
            <div class="col-md-6">
                <ul>

                    <!--  INFOMATION -->
                    <li class="col-sm-6">
                        <h5>INFOMATION</h5>
                        <ul class="f-links">
                            <li><a href="#.">ABOUT US</a></li>
                            <li><a href="#."> DELIVERY INFOMATION</a></li>
                            <li><a href="#."> PRIVACY & POLICY</a></li>
                            <li><a href="#."> TEMRS & CONDITIONS</a></li>
                            <li><a href="#."> MANUFACTURES</a></li>
                        </ul>
                    </li>

                    <!-- MY ACCOUNT -->
                    <li class="col-sm-6">
                        <h5>MY ACCOUNT</h5>
                        <ul class="f-links">
                            <li><a href="#.">MY ACCOUNT</a></li>
                            <li><a href="#."> LOGIN</a></li>
                            <li><a href="#."> MY CART</a></li>
                            <li><a href="#."> WISHLIST</a></li>
                            <li><a href="#."> CHECKOUT</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Second Row -->
            <div class="col-md-6">
                <ul class="row">

                    <!-- TWITTER -->
                    <li class="col-sm-6">
                        <h5>TWITTER</h5>
                        <p>Check out new work on my @Behance portfolio: "BCreative_Multipurpose Theme" http://on.be.net/1zOOfBQ </p>
                    </li>

                    <!-- FLICKR PHOTO -->
                    <li class="col-sm-6">
                        <h5>FLICKR PHOTO</h5>
                        <ul class="flicker">
                            <li><a href="#."><img src="images/flicker-1.jpg" alt=""></a></li>
                            <li><a href="#."><img src="images/flicker-2.jpg" alt=""></a></li>
                            <li><a href="#."><img src="images/flicker-3.jpg" alt=""></a></li>
                            <li><a href="#."><img src="images/flicker-4.jpg" alt=""></a></li>
                            <li><a href="#."><img src="images/flicker-5.jpg" alt=""></a></li>
                            <li><a href="#."><img src="images/flicker-6.jpg" alt=""></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
 </div>
</footer>
<!-- GO TO TOP -->
<a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a>
<!-- GO TO TOP End -->
</div>