
<style>
    .avatar {
        vertical-align: middle;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
</style>
<style>


    .dropdown {
        float: left;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}


</style>



<!-- LOADER ===========================================-->
<div id="loader">
    <div class="loader">
        <div class="position-center-center"> <img src="images/logo-dark.png" alt="">

            <p class="font-playfair text-center">Please Wait...</p>
            <div class="loading">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
</div>

<div id="wrap">

    <!-- Header -->
    <header class="header-style-2 header-style-3">
        <!-- Top Bar -->
        <div class="top-bar">
            <div class="container">
                <!-- Language -->
                <div class="language"> <a href="#." class="active">EN</a> <a href="#.">FR</a> <a href="#.">GE</a> </div>
                <div class="top-links">
                        {{#if user }}
                        <div class="dropdown">
                                <a href="/"><img src="img/users/{{user.photo}}" class="avatar"></a>
                                <div class="dropdown-content">
                                    <a id="logout" href=""  >Logout</a>

                                </div>
                            </div>

                    {{else}}
                            <li><a href="/login">MY ACCOUNT</a></li>
                        {{/if}}

                        <li><a href="#.">MY WISHLIST</a></li>
                        <li class="font-montserrat">CURRENCY:
                            <select class="selectpicker">
                                <option>USD</option>
                                <option>EURO</option>
                            </select>
                        </li>
                    </ul>
                    <!-- Social Icons -->
                    <ul class="social_icons">
                        <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
                        <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
                        <li class="dribbble"><a href="#."><i class="fa fa-dribbble"></i> </a></li>
                        <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
                        <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Logo -->
        <div class="sticky">
            <div class="container">
                <div class="logo"> <a href="/"><img src="images/logo-dark.png" alt="Here is your logo"></a> </div>

                <!-- Nav -->
                <!-- Nav -->
                <nav class="webimenu">
                    <!-- MENU BUTTON RESPONSIVE -->
                    <div class="menu-toggle"> <i class="fa fa-bars"> </i> </div>
                    <ul class="ownmenu">


                        <li class="meganav"><a href="02-shop-sidebar-right.html">WHY minastyle? </a>
                            <!--======= MEGA MENU =========-->
                            <ul class="megamenu full-width">
                                <li class="row nav-post">
                                    <div class="col-sm-3">
                                        <h6>Shop Pages</h6>
                                        <ul>
<!--                                            <li><a href="02-shop-sidebar-right.html">Shop Sidebar Right</a></li>-->
<!--                                            <li><a href="02-shop-sidebar-left.html">Shop Sidebar Left</a></li>-->
<!--                                            <li><a href="02-shop-sidebar.html">Shop Sidebar</a></li>-->
<!--                                            <li><a href="02-shop-list-view.html">Shop LIST</a></li>-->
<!--                                            <li><a href="02-shop-full_width-03.html">Shop Full 2 Col</a></li>-->
<!--                                            <li><a href="02-shop-full_width-02.html">Shop Full 3 Col</a></li>-->
<!--                                            <li><a href="02-shop-full_width-01.html">Shop Full 4 Col</a></li>-->
<!--                                            <li><a href="02-shop-details-1.html">Shop Detail</a></li>-->
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h6>Blog Pages</h6>
                                        <ul>
<!--                                            <li><a href="08-01-blog-mansory.html">Blog Mansory</a></li>-->
<!--                                            <li><a href="08-02-blog-left-side-bar.html">Blog Left Side Bar</a></li>-->
<!--                                            <li><a href="08-02-blog-right-side-bar.html">Blog Right Side Bar</a></li>-->
<!--                                            <li><a href="08-04-blog-medium-image.html">Blog Medium Image</a></li>-->
<!--                                            <li><a href="08-05-blog-large-images.html">Blog Large Images</a></li>-->
<!--                                            <li><a href="08-06-blog-02-col.html">Blog 02 Col</a></li>-->
<!--                                            <li><a href="08-07-blog-03-col.html">Blog 03 Col</a></li>-->
<!--                                            <li><a href="08-08-blog-04-col.html">Blog 04 Col</a></li>-->
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">

                                    </div>

                                </li>
                            </ul>
                        </li>
                        <li class="meganav"><a href="index.html">Pricing</a>
                            <!--======= MEGA MENU =========-->
                            <ul class="megamenu full-width look-book">
                                <li class="row nav-post">
                                    <div class="col-sm-2">
                                        <h6>Shop</h6>
                                        <ul>
                                            <li><a href="#."> MEN’S</a></li>
                                            <li><a href="#."> WOMAN</a></li>
                                            <li><a href="#."> KID’S</a></li>
                                            <li><a href="#."> BAGS & SHOES</a></li>
                                            <li><a href="#."> SEASONAL</a></li>
                                            <li><a href="#."> LOOKBOOK</a></li>
                                            <li><a href="#."> </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="images/nav-img-1.jpg" alt=""> </a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                                                <a href="#.">READ MORE</a> </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="images/nav-img-4.jpg" alt=""> </a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                                                <a href="#.">READ MORE</a> </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="images/nav-img-2.jpg" alt=""> </a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                                                <a href="#.">READ MORE</a> </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-left">
                                                <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="images/nav-img-3.jpg" alt=""> </a> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                                                <a href="#.">READ MORE</a> </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
<!--



                        <!--======= Shopping Cart =========-->
                        <li class="shop-cart"><a href="#."><i class="fa fa-shopping-cart"></i></a> <span class="numb">2</span>
                            <ul class="dropdown">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="cart-img"> <a href="#"> <img class="media-object img-responsive" src="/images/item-col-img-1.jpg" alt="..."> </a> </div>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">DRAEY TRENCH COAT</h6>
                                            <span class="price">129.00 USD</span> <span class="qty">QTY: 01</span> </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="cart-img"> <a href="#"> <img class="media-object img-responsive" src="images/item-col-img-2.jpg" alt="..."> </a> </div>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading">DRAEY TRENCH COAT</h6>
                                            <span class="price">129.00 USD</span> <span class="qty">QTY: 01</span> </div>
                                    </div>
                                </li>
                                <li class="no-padding no-border">
                                    <h5 class="text-center">SUBTOTAL: 258.00 USD</h5>
                                </li>
                                <li class="no-padding no-border">
                                    <div class="row">
                                        <div class="col-xs-6"> <a href="#." class="btn btn-small">VIEW CART</a></div>
                                        <div class="col-xs-6 "> <a href="#." class="btn btn-1 btn-small">CHECK OUT</a></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--======= SEARCH ICON =========-->
                        <li class="search-nav"><a href="#."><i class="fa fa-search"></i></a>
                            <ul class="dropdown">
                                <li class="row">
                                    <div class="col-sm-4 no-padding">
                                        <select class="selectpicker">
                                            <option>MEN'S</option>
                                            <option>WOMENS</option>
                                            <option>KIDS</option>
                                            <option>FASHION</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8 no-padding">
                                        <input type="search" class="form-control" placeholder="Search Here">
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header End -->
