{{>head}}
<title>{{title}}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>


<main class="login-form">
    <h2 class="heading-secondary ma-bt-lg">Log into your account</h2>
    <form  name="login_form" class="form" action="">
        <label class="form__label" for="email">Email Address
            <input class="form__input" type="email" name="email" id="email"  required>
        </label>
        <label class="form__label" for="password">Password
            <input type="password" name="login" id="password"  class="form__input" required>
        </label>
        <button type="submit">Login</button>
    </form>
</main>

<script type="text/javascript">
    const showAlert = (type, msg) => {
        hideAlert();

        const markup = `<div class="alert alert--${type}">${msg}</div>`;
        document.querySelector('body').insertAdjacentHTML(
                'afterbegin',
                markup
        );
        window.setTimeout(hideAlert,5000);
    };


    const hideAlert = () => {
        const el = document.querySelector('.alert');
        if(el) {
            el.parentElement.removeChild(el);
        }

    };


    const login = async (email, password) => {
        try {
            const res = await axios({
                method: 'POST',
                url: 'http://localhost:8000/api/v1/users/login',
                data: {
                    email: email,
                    password: password
                }
            });
            console.log(res);

            if (res.data.status === 'success') {
                showAlert('success', 'Logged in succesfully');
                // window.setTimeout(() => {
                //     location.assign('/')
                // }, 5000)
                window.location.href="/"
            }

        } catch (e) {
            // showAlert('error', 'Something went wrong!');
            console.log(e.message);
        }
    };

    document.querySelector('.form').addEventListener('click', e => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        login(email, password);


    });



</script>


{{>end}}

